@import '../../../components/common/GlobalStyle/utilities/variables.scss';
@import '../../../components/common/GlobalStyle/utilities/responsive.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        font-size: 25px;
        cursor: pointer;

        .table {
            margin-right: 10px;
            color: $active-color;
        }
    }
}